<div class="container">
    <div class="header__search">
                <div class="header__search-inputs">
                    <span class="fad fa-search header__search-icon"></span>
                    <input type="text" placeholder="Tìm kiếm địa điểm" class="header__search-input" id="searchcity2">
                </div>
                <div class="header__search-suggest" id="ketquainput2">
                    <h5 class="search__suggest-heading">KẾT QUẢ TÌM KIẾM</h5>
                    <ul class="search__suggest-list" id="ketquatimkiem2">
                        
                    </ul>
                </div>
            </div>





</div>