<div class="container">
    <div class="header__search">
        <div class="header__search-inputs">
            <span class="fas fa-map-marker-alt header__search-icon"></span>
            <input type="text" placeholder="Bạn muốn đến đâu?" class="header__search-input" id="searchcity2">
        </div>
        <div class="header__search-suggest" id="ketquainput2">
            <h5 class="search__suggest-heading">KẾT QUẢ TÌM KIẾM</h5>
            <div class="d-flex justify-content-between">
                <div style="width: 33%;">
                    <ul class="search__suggest-list" id="ketquatimkiem2">
                    </ul>
                </div>
                <div style="width: 33%;">
                    <ul class="search__suggest-list" id="ketquatimkiem3">
                    </ul>
                </div>
                <div style="width: 33%;">
                    <ul class="search__suggest-list" id="ketquatimkiem4">
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div id="changecontent">
        {{!-- <div class="content__welcome mt-5">
            <h3 class="content__welcome-heading">Ưu đãi</h3>
            <p class="content-description">
                Khuyến mãi, giảm giá và ưu đãi đặc biệt dành riêng cho bạn
            </p>

            <div class="explore__slider">
                <div class="owl-carousel" id="explore-slider">
                    <div class="item explore__slider-item">
                        <a href=""><img src="/images/homestay1.png" alt="" class="content__slider-img"></a>
                        <p class="explore__slider-description"><b style="font-size: 24px;">Tận hưởng kỳ nghỉ dài nhất
                                của
                                bạn</b>
                            <br>
                            Tìm kiếm các chỗ nghỉ cho phép lưu trú dài ngày với giá theo tháng ưu đãi.
                        </p>
                    </div>
                    <div class="item explore__slider-item">
                        <a href=""><img src="/images/homestay2.png" alt="" class="content__slider-img"></a>
                        <p class="explore__slider-description"><b style="font-size: 24px;">Vi vu theo cách của bạn</b>
                            <br>
                            Tiết kiệm ít nhất 15% cho lưu trú toàn cầu, từ nghỉ dưỡng đến phiêu lưu hoang dã
                        </p>
                    </div>
                    <div class="item explore__slider-item">
                        <a href=""><img src="/images/homestay3.png" alt="" class="content__slider-img"></a>
                        <p class="explore__slider-description"><b style="font-size: 24px;">Tiết kiệm 15% với Ưu Đãi Cuối
                                Năm</b>
                            <br>
                            Khám phá hàng nghìn điểm đến khắp thế giới và tiết kiệm từ 15%
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content__welcome">
            <h3 class="content__welcome-heading">Khám phá Việt Nam</h3>
            <p class="content-description">
                Các điểm đến phổ biến này có nhiều điều chờ đón bạn
            </p>
            <div class="content__slider">
                <div class="owl-carousel" id="content-slider">
                    {{#each cities}}
                    <div class="item content__slider-item">
                        <a href=""><img src="{{this.imagecity}}" alt="" class="content__slider-img">

                        </a>
                        <div class="content__slider-name">
                            <h3 class="content__slider-heading">{{this.namecity}}</h3>
                            <p class="content__slider-description">2901 Chỗ ở</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

        </div> --}}

        <div class="d-flex mt-5 justify-content-between">
            <div class="inputGroup">
                <input type="text" required="" autocomplete="off">
                <label for="name">Tìm homestay</label>
            </div>


            <div class="w-75">
                <a href="" class="homestay">
                    <div style="width: 33%;">
                        <img src="/images/imagehomestay/myfahouse1.png" alt="" class="h-100 w-100"
                            style="object-fit: cover; border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
                    </div>
                    <div class="pl-2 pt-2" style="width: 40%;">
                        <b style="color: black;">MyFa Homestay</b>
                        <br>
                        <p style="color: black;"><i class="fas fa-map-marker-alt mr-2"></i>Kiệt 110/17/1 Kim Long</p>
                    </div>
                    <hr class="vetical">
                    <div class="w-25 p-2 d-flex flex-column justify-content-end align-items-end">
                        <span>Giá từ một đêm</span>
                        <b style="color: red;">300.000 đ</b>
                    </div>
                </a>
            </div>
        </div>

    </div>




</div>