<div class="content__welcome">
    <h3 class="content__welcome-heading">Chào mừng đến với Luxstay!</h3>
    <p class="content-description">
        Đặt chỗ ở, homestay, cho thuê xe, trải nghiệm và nhiều hơn nữa trên Luxstay <br>
        <button class="content__welcome-link" data-toggle="modal" data-target="#dangnhap">Đăng nhập</button>
        hoặc <button class="content__welcome-link" data-toggle="modal" data-target="#dangky">Đăng ký</button> để
        trải nghiệm !
    </p>
</div>