<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon" sizes="30x30">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="/bootstrap/bootstrap.css">
  <!-- Css Slider -->
  <link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css">
  <!-- Css Slider -->
  <link rel='stylesheet' href='/stylesheets/header.css' />
  <link rel='stylesheet' href='/stylesheets/footer.css' />
  {{{ link }}}

</head>

<body>
  <div class="loader">
    <i class="fal fa-spinner loader-icon"></i>
  </div>


  {{> header }}


  {{{ body }}}





  {{> footer }}

  <!--JS Slider -->
  <script src="/owlcarousel/jquery.min.js"></script>
  <script src="/owlcarousel/owl.carousel.js"></script>

  <script src="/javascripts/slider.js"></script>
  <!-- JS -->
  <script src="/javascripts/main.js"></script>
  {{!--
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>