<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon" sizes="30x30">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="/bootstrap/bootstrap.css">
  <!-- Css Slider -->
  <link rel="stylesheet" href="/owlcarousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/owlcarousel/assets/owl.theme.default.min.css">
  <!-- Css Slider -->
  <link rel='stylesheet' href='/stylesheets/header.css' />
  <link rel='stylesheet' href='/stylesheets/footer.css' />
  {{{ link }}}

</head>

<body>



  {{> header }}


  {{{ body }}}





  {{> footer }}

  <!--JS Slider -->
  <script src="/owlcarousel/jquery.min.js"></script>
  <script src="/owlcarousel/owl.carousel.js"></script>

  <script src="/javascripts/slider.js"></script>
  <!-- JS -->
  <script src="/javascripts/main.js"></script>
</body>

</html>