
/* End: Header */


/* Start Slider */
#slider{
    margin-top: calc(80px + 45px);
}

.owl-dots{
    position: absolute;
    right: 30px;
    bottom: 5px;
}

.owl-dot:focus{
    outline: none;
}

#slider img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
/* End Slider */

/* Start: Main */
/* Start Content */
#main{
    padding-top: 45px;
    padding-bottom: 45px;
    color: #222222;
}

.content__welcome-heading{
    font-weight: bold;
}

.content__container{
    margin-top: 45px;
}

.content-title{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
}

.content-description{
    text-align: justify;
    text-align: justify;
    line-height: 1.8;
    margin-top: 12px;
}

.content__welcome-link{
    color: #222222;
    text-decoration: underline;
}

.content__welcome-link:hover{
    color: var(--tomato-color);
    transition: .3s linear;
}

.content__slider-item{
    height: 300px;
    position: relative;
}

.content__slider-img{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.content__slider-img:hover{
    filter: blur(1px);
    transform: scale(1.005);
}

.owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.owl-nav button.owl-prev{
    width: 50px;
    height: 50px;
    background: #fff !important;
    border-radius: 100%;
    margin-left: -25px;
    display: flex;
    align-items: center;
    justify-content:center;
    border: 1px solid #ddd !important;
}

.owl-nav button.owl-next{
    width: 50px;
    height: 50px;
    background: #fff !important;
    border-radius: 100%;
    margin-right: -25px;
    display: flex;
    align-items: center;
    justify-content:center;
    border: 1px solid #D6D2C4 !important;
}
.owl-nav button.owl-prev:focus,
.owl-nav button.owl-next:focus{
    outline: none;
}

.owl__nav-icon{
    font-size: 25px;
    font-weight: 300;
    color: #555;
}

.content__slider-name{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.content__slider-heading{
    font-size: 25px;
    font-weight: bold;
    padding-left: 16px;
    padding-top: 90%;
}
.content__slider-description{
    font-weight: 400;
    padding-left: 16px;
}

.content__promotion-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#suggest-slider >.owl-nav {
    position: absolute;
    width: 100%;
    top: 30%;
    transform: translateY(-35%);
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.content__suggest-item{
    color: #222222;
    margin-top: 10px;
}

.content__suggest-item-link{
    color: #222222;
}

.content__suggest-heading{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
}

.content__suggest-description{
    margin-top: 10px;
}

.content__suggest-description:hover{
    color: var(--tomato-color);
    transition: .3s linear;
}

.explore__slider-item{
    position: relative;
    height: 230px;
}

.explore__slider-item::after{
    position: absolute;
    content: '';
    height: 50%;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(0deg, rgb(0 0 0 / 35%), transparent);
}

.explore__slider-name{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(0 0 0 / 23%);
    border-radius: 50px;
    padding: 3px 28px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.explore__slider-name:hover{
    background: rgb(0 0 0 / 50%);
}

.explore__slider-description{
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 20px;
    font-weight: 500;
    font-size: 17px;
    z-index: 1;
}

/* End Content */

/* End: Main */

/* Start: Download App */
.download__app{
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 45px;
}

.download__app-introduce,
.download__app-picture{
    margin-top: 16px;
}

.download__app-logo-svg{
    width: 343px;
    max-width: 100%;
}

.download__app-content{
    margin-top: 16px;
}

.download__app-content-heading{
    font-weight: 700;
}

.download__app-content-description{
    margin-top: 30px;
    text-align: justify;
}

.download__app-by-image{
    margin-top: 45px;
}

.download__app-qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
}

.download__app-qrcode-img{
    width: 180px;
    height: 180px;
    border: 1px solid #ccc;
    padding: 10px;
}

.download__app--app{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.download__app-by-store{
    display: inline-block;
    padding-top: 14px;
}

.download__app-by-store-img{
    width: 138px;
}

.download__app-image{
    width: 100%;
}

/* End: Download App */

/* Start: Footer */
#footer{
    margin: 45px 0;
}

.contact-item{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.contact-icon{
    font-size: 30px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background: rgb(0 0 0 / 3%);
    border-radius: 100%;
}

.contact__content{
    margin-left: 6px;
}

.contact__content-title{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
}


.contact__content-link{
    color: #222;
    display: block;
    line-height: 1.4;
    font-size: 13px;
    font-weight: 400;
}

.contact__content-link:hover{
    color: var(--tomato-color);
    transition: .2s linear;
}
/*  */




/* Mobile: width < 740px <=> 46.1875em */
/* Tablet: width >= 740px and width < 1024px  <=> 63.9375em */
/* PC: width >= 1024px */

/* ---------------------------------------------------------- */

/* Mobile: width < 740px */
@media screen and (max-width: 46.1875em) {
    
}

/* Tablet: width >= 740px and width < 1024px*/
@media screen and (min-width: 46.1875em) and (max-width: 63.9375em) {
    .download__app-by-image{
        display: none;
    }
}

/* PC: width >= 1024px */
@media screen and (min-width: 64em) {

}


