main{
    padding: 0 10%;
    margin-top: calc(80px + 45px);
}

.carousel-item img{
    border-radius: 16px !important;
}

.box2{
    margin-top: 48px;
}

.content{
    text-align: justify;
  line-height: 1.8;
  margin-top: 12px;
  font-size: 16px;
}

.nutchuyen{
    width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #59636d !important ;
}

.nutchuyen.active{
    background-color: black !important;
}

.carousel-indicators{
    bottom: 0 !important;
}